h1{
    color:purple;
    text-align: center
}

h3{
    color:palevioletred;
    text-align: center
}

p{
    margin-left: 1in;
    margin-right: 1in
}

img{
    display:block;
    margin-left:auto;
    margin-right: auto;
    height: 200px;
    width: auto
}